*{
    margin: 0px;
    box-sizing: border-box;
}

.fluid{
    background: white;
    height: 100vh;
}
/* .container{
    height: 100vh;
    background-color: white;
} */

.nav-row{
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
}

.navbar{
    font-size: 20px;
    margin-left: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: inherit;
}
.menu{
    display: flex;
    background-color: white;
    align-items: center;
    color: rgb(1, 1, 71);
}
.logo{
    margin-left: 150px;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    padding-bottom: 10px;
}

.menu-list{
    list-style: none;
    margin-left: 20px;
}
.nav-list{
    display: flex;
    margin-left: 0px;
}

.fa-solid{
    margin-right: 150px;
    margin-left: 20px;
}
.menu-btn{
    margin-left: 60px;
    margin-bottom: 10px;
    text-decoration: none;
    background: #3e12ec;
    padding: 7px 30px;
    border-radius: 20px;
    color: white;
    font-family: 'Inter';
    border: none;
}
.row{
    background-color: #3e12ec;
    height: 450px;
    width: 1000px;
    margin-left: 200px;
    margin-top: 8px;
    background-color: rgb(226, 255, 251);
    display: flex;
}
.sm-cont{
    height: 585px;
    width: inherit;
    padding-top: 30px;
    background-color: rgb(226, 255, 251);
}
.col-sm{
    width: 300px;
    margin-left: 20px;
    background-color: white;
    border-radius: 5px;
    height: 500px;
}

.img-cont{
    height: 150px;
    border-radius: 8px;
}

.txt-cont{
    height: 230px;
    margin-top: 50px;
    width: 90%;
    margin-left: 10px;
}

.pic{
    width: 105%;
    margin-left: -7px;
    border-radius: 8px;
    border: 5px solid white;
}

.btn1{
    background-color: rgb(226, 255, 251);
    width: 80%;
    color: #000;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.fa-bed{
    margin: none;
    background-color: red;
    padding-right: 0px;
}

.txt-box{
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

.txt-btn{
    margin-left: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    background: #3e12ec;
    padding: 7px 30px;
    border-radius: 20px;
    color: white;
    font-family: 'Inter';
    border: none;
}